@media (min-width:640px) {
    ::-webkit-scrollbar {
    display: none;
    }
}
.divapp{
    height: max-content;
}
.copyright-text{
    top: 50%;
    font-size: 15px;
    transform: translateY(-50%) rotate(-90deg);
    -webkit-text-stroke: .02em #000;
    text-stroke: 1px #000;
    z-index: 999;
}
